.sec5_title {
    text-align: center;
    font-size: 20px;
    color: rgb(60, 167, 255);
    margin-top: 100px;
}
#section5 {
    display: flex;
    
    align-items: center;
}
.sec5 {
    width: 1200px;
    height: 400px;justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 25px;
    backdrop-filter: blur(0rem);
    /*width: 1600px;
    height: 900;
    background: linear-gradient(to right top -20px, rgb(0, 0, 0), rgb(45, 164, 255));
    border-radius: 125px;
    backdrop-filter: blur(0.2rem);
  min-height: 80vh;
    background-size: 80%; -->*/

    
}

video {
    width: 80%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

